{% extends 'base.html.twig' %}



{% block title %}Cliente index{% endblock %}


{% block body %}

    <h1>Clientes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cod</th>
                <th>Nome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.cod }}</td>
                <td>{{ cliente.nome }}</td>
                <td>
                    <a href="{{ path('cliente_show', {'id': cliente.id}) }}">Visualizar</a>
                    <a href="{{ path('cliente_edit', {'id': cliente.id}) }}">Editar</a>
                </td>
                <td>{{ include('cliente/_delete_form.html.twig') }} </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Nenhum cliente cadastrado.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('cliente_new') }}" >Novo Cliente</a>
{% endblock %}
